<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="''">
            <h1>NgxFirebaseAuth</h1>
        </a>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'login'"> Login </a>
            <a mat-button [routerLink]="'register'"> Create Account </a>
            <a mat-button [routerLink]="'logout'"> Logout </a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">
            Login simple utilizando Angular 9 y Firebase Auth
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>