<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="''">
            <h1>NgxFirebaseAuth</h1>
        </a>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'login'" *ngIf="!user"> Login </a>
            <a mat-button [routerLink]="'register'" *ngIf="!user"> Create Account </a>
            <a mat-button (click)="logout()" *ngIf="user"> Logout </a>
            <a mat-button [routerLink]="'linkup'" *ngIf="user"> Vincular cuentas </a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">
            {{user | json}}
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>